@model IEnumerable<QuizAppDB.Models.Quiz>

<h1>Lista Quizów</h1>
<table class="table">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quiz in Model)
        {
            <tr>
                <td>@quiz.Title</td>
                <td><a asp-action="Details" asp-route-id="@quiz.Id" class="btn btn-primary">Rozpocznij</a></td>
            </tr>
        }
    </tbody>
</table>
