@model IEnumerable<QuizAppDB.Models.Quiz>

<h2>Lista Quizów</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quiz in Model)
        {
            <tr>
                <td>@quiz.Title</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Quiz" asp-action="Details" asp-route-id="@quiz.Id">Rozpocznij</a>
                </td>
            </tr>
        }
    </tbody>
</table>
